<div class="pip-body">
    <div class="pip-content">
        <md-progress-linear ng-show="$ctrl.transaction.busy() && !$ctrl.hideObject.progress" md-mode="indeterminate" class="pip-progress-top">
        </md-progress-linear>

        <h2 pip-translate="SIGNIN_TITLE" ng-if="!$ctrl.hideObject.title"></h2>

        <form name="form" novalidate>
                <input type="password" style="display:none">

            <div ng-messages="$ctrl.config.form.$serverError" class="text-error bm8 color-error"  md-auto-hide="false">
                <div ng-message="ERROR_act_execute">{{::'ERROR_ACT_EXECUTE' | translate}}</div>
                <div ng-message="ERROR_-1">{{::'ERROR_SERVER' | translate}}</div>
                <div ng-message="ERROR_ACCOUNT_LOCKED">{{::'ERROR_ACCOUNT_LOCKED' | translate}}</div>
                <div ng-message="ERROR_UNKNOWN">
                    {{ $ctrl.config.form.$serverError.ERROR_UNKNOWN | translate }}
                </div>
            </div>
            <div class="bp16" >
                <a ng-hide="$ctrl.config.showServerUrl || $ctrl.config.fixedServerUrl || $ctrl.hideObject.server"
                ng-click="$ctrl.config.showServerUrl = true" href=""
                id="link-server-url"
                pip-test="link-server-url">
                    {{::'ENTRY_CHANGE_SERVER' | translate}}
                </a>
            </div>

            <div ng-show="$ctrl.config.showServerUrl && !$ctrl.hideObject.server" class="bp8">
                <md-autocomplete
                        ng-initial autofocus tabindex="1"
                        class="pip-combobox w-stretch bm8"
                        name="server"
                        placeholder="{{::'ENTRY_SERVER_URL' | translate}}"
                        md-no-cache="true"
                        md-selected-item="$ctrl.config.data.serverUrl"
                        md-search-text="$ctrl.config.selected.searchURLs"
                        md-items="item in $ctrl.config.getMatches($ctrl.config.selected.searchURLs)"
                        md-item-text="item"
                        md-selected-item-change="$ctrl.onServerUrlChanged()"
                        md-search-text-change="$ctrl.onChanged()"
                        md-delay="200"
                        ng-model="$ctrl.config.data.serverUrl"
                        ng-disabled="$ctrl.transaction.busy()"
                        pip-clear-errors
                        pip-test="autocomplete-server">
                    <span md-highlight-text="$ctrl.config.selected.searchURLs">{{item}}</span>
                </md-autocomplete>
            </div>

            <md-input-container class="display bp4">
                <label ng-if="!$ctrl.config.useEmailAsLogin">{{::'LOGIN' | translate}}</label>
                <label ng-if="$ctrl.config.useEmailAsLogin">{{::'EMAIL' | translate}}</label>
                <input name="login" ng-model="$ctrl.config.data.login" required step="any"
                       ng-keypress="$ctrl.onEnter($event)" aria-label="LOGIN"
                       pip-clear-errors
                       ng-disabled="$ctrl.transaction.busy()" tabindex="2"
                       pip-test="input-login"/>

                <div class="hint" ng-if="$ctrl.touchedErrorsWithHint($ctrl.config.form, $ctrl.config.form.login).hint && !$ctrl.hideObject.hint && !$ctrl.config.useEmailAsLogin">
                    {{::'HINT_LOGIN' | translate}}
                </div>
                <div class="hint" ng-if="$ctrl.touchedErrorsWithHint($ctrl.config.form, $ctrl.config.form.login).hint && !$ctrl.hideObject.hint && $ctrl.config.useEmailAsLogin">
                    {{::'HINT_EMAIL' | translate}}
                </div>
                <div ng-messages="$ctrl.touchedErrorsWithHint($ctrl.config.form, $ctrl.config.form.login)" md-auto-hide="false">
                    <div ng-message="required">{{::'ERROR_LOGIN_INVALID' | translate }}</div>
                    <div ng-message="ERROR_WRONG_LOGIN">{{::'ERROR_WRONG_LOGIN' | translate}}</div>
                    <div ng-message="ERROR_NO_LOGIN">{{::'ERROR_NO_LOGIN' | translate}}</div>
                    <div ng-message="ERROR_LOGIN_NOT_FOUND">{{::'ERROR_LOGIN_NOT_FOUND' | translate}}</div>
                </div>
            </md-input-container>

            <md-input-container class="display bp4">
                <label>{{::'PASSWORD' | translate}}</label>
                <input name="password" ng-disabled="$ctrl.transaction.busy()" pip-clear-errors
                       type="password" tabindex="3" ng-model="$ctrl.config.data.password"
                       ng-keypress="$ctrl.onEnter($event)"
                       required minlength="6"
                       pip-test="input-password"/>

                <div class="hint" ng-if="$ctrl.touchedErrorsWithHint($ctrl.config.form, $ctrl.config.form.password).hint && !$ctrl.hideObject.hint">
                    {{::'SIGNIN_HINT_PASSWORD' | translate}}
                </div>
                <div ng-messages="$ctrl.touchedErrorsWithHint($ctrl.config.form, $ctrl.config.form.password)"  md-auto-hide="false">
                    <div ng-message="required">{{::'SIGNIN_HINT_PASSWORD' | translate}}</div>
                    <div ng-message="ERROR_WRONG_PASSWORD">{{::'ERROR_WRONG_PASSWORD' | translate}}</div>
                    <div ng-message="minlength"> {{::'HINT_PASSWORD' | translate}}</div>
                </div>
            </md-input-container>
            <a href="" class="display bm16"
               ng-if="!$ctrl.hideObject.forgotPassword"
               ng-click="$ctrl.gotoRecoverPassword()"
               tabindex="4">
                {{::'SIGNIN_FORGOT_PASSWORD' | translate}}
            </a>

            <md-checkbox ng-disabled="$ctrl.transaction.busy()" 
                         ng-if="!$ctrl.hideObject.forgotPassword"
                         md-no-ink class="lm0"
                         aria-label="{{'SIGNIN_REMEMBER' | translate}}" tabindex="5"
                         ng-model="$ctrl.config.data.remember"
                         pip-test-checkbox="remember">
                <label class="label-check">{{::'SIGNIN_REMEMBER' | translate}}</label>
            </md-checkbox>

            <div style="height: 36px; overflow: hidden;">
                <md-button ng-if="!$ctrl.transaction.busy()" ng-click="$ctrl.onSignin()" aria-label="SIGNIN"
                           class="md-raised md-accent w-stretch m0" tabindex="6" type="submit"
                           ng-disabled="($ctrl.config.data.login == undefined) || $ctrl.config.data.login.length == 0 || $ctrl.config.data.serverUrl == '' ||
                                   $ctrl.config.data.serverUrl == undefined || $ctrl.config.data.serverUrl.length == 0 || ($ctrl.config.data.password == undefined)"
                           pip-test="button-signin">
                    {{::'SIGNIN_TITLE' | translate}}
                </md-button>
                <md-button ng-if="$ctrl.transaction.busy()" ng-click="$ctrl.transaction.abort()" class="md-raised md-warn m0 w-stretch"
                           tabindex="5" aria-label="ABORT" 
                           pip-test="button-cancel">
                    {{::'CANCEL' | translate}}
                </md-button>
            </div>
            <div class="tm24 layout-row" ng-if="!$ctrl.config.adminOnly && $ctrl.pipMedia('gt-xs') && !$ctrl.hideObject.signup">
                <p class="m0 text-small"> <!--  <p class="a-question-text">  -->
                    {{::'SIGNIN_NOT_MEMBER' | translate}}
                    <a href=""
                       ng-click="$ctrl.gotoSignup()"
                       tabindex="6">
                        {{::'SIGNIN_SIGNUP_HERE' | translate}}
                    </a>
                </p>
            </div>

            <div class="tm24 divider-top text-signup" 
                 ng-if="!$ctrl.config.adminOnly && $ctrl.pipMedia('xs') && !$ctrl.hideObject.signup">
                <div class="h48 layout-row layout-align-center-end">
                    <p class="m0 text-small">{{::'SIGNIN_NOT_MEMBER' | translate}}</p>
                </div>
                <div class="h48 layout-row layout-align-center-start">
                    <a class="text-small" ng-click="$ctrl.gotoSignup()" href="" tabindex="6">
                        {{::'SIGNIN_SIGNUP_HERE' | translate}}
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>



