<div class="pip-card-container pip-outer-scroll pip-entry">
    <pip-card width="400">
        <pip-change-password-panel class="scroll-y">
        </pip-change-password-panel>
        <div class="pip-footer">
            <md-button ng-hide="$ctrl.transaction.busy()" ng-click="$ctrl.goBack()" class="rm8" aria-label="CANCEL">
                {{ ::'CANCEL' | translate }}
            </md-button>
            <md-button ng-hide="$ctrl.transaction.busy()" ng-click="$ctrl.onChange()" aria-label="ENTRY_CHANGE_PASSWORD"
                       ng-disabled="($ctrl.config.form.$pristine && !$ctrl.config.data.login) || $ctrl.config.data.serverUrl.length == 0 ||
                       $ctrl.config.data.login.length == 0 || $ctrl.config.data.code.length == 0 || $ctrl.config.data.password.length < 6"
                       class="md-accent" type="submit">
                {{ ::'ENTRY_CHANGE_PASSWORD' | translate }}
            </md-button>
            <md-button class="md-warn" ng-show="$ctrl.transaction.busy()" ng-click="$ctrl.transaction.abort()" aria-label="ABORT">
                {{ ::'CANCEL' | translate }}
            </md-button>
        </div>
    </pip-card>
</div>