<div class="pip-body">
    <div class="pip-content">
        <md-progress-linear ng-show="$ctrl.transaction.busy()  && $ctrl.showServerError  && !$ctrl.hideObject.progress" md-mode="indeterminate"
                            class="pip-progress-top">
        </md-progress-linear>
 
        <h2 ng-if="!$ctrl.hideObject.changePwdTitle">{{::'CHANGE_PWD_PASSWORD' | translate}}</h2>

        <p class="title-padding bm16" ng-if="!$ctrl.hideObject.changePwdSubTitle">
            {{::'CHANGE_PWD_TEXT' | translate}}
        </p>
        <!-- <form name="form" novalidate autocomplete="off">
            <input type="email" style="display:none">
            <input type="login" style="display:none">
            <input type="password" style="display:none"> -->
        <form name="form" novalidate autocomplete="off">
                <input name="password" style="display:none">
                <input name="passwordNew" style="display:none">

            <div ng-messages="$ctrl.config.form.$serverError" class="text-error bm8 color-error"  md-auto-hide="false">
                <div ng-message="ERROR_act_execute">{{ ::'ERROR_ACT_EXECUTE' | translate }}</div>
                <div ng-message="ERROR_-1">{{ ::'ERROR_SERVER' | translate }}</div>
                <div ng-message="ERROR_UNKNOWN">
                    {{ 'ERROR_UNKNOWN' | translate }} 
                </div>
            </div>

            <div ng-show="$ctrl.config.showServerUrl && !$ctrl.hideObject.server" class="bp8">
                <md-autocomplete
                        ng-initial autofocus tabindex="1"
                        class="pip-combobox w-stretch bm8"
                        name="server"
                        ng-enabled="!$ctrl.transaction.busy()"
                        placeholder="{{::'ENTRY_SERVER_URL' | translate}}"
                        md-no-cache="true"
                        md-selected-item="$ctrl.config.data.serverUrl"
                        md-search-text="$ctrl.config.selected.searchURLs"
                        md-items="item in $ctrl.config.getMatches($ctrl.config.selected.searchURLs)"
                        md-item-text="item"
                        md-selected-item-change="$ctrl.onServerUrlChanged()"
                        md-search-text-change="$ctrl.onChanged()"
                        md-delay="200"
                        ng-model="$ctrl.config.data.serverUrl"
                        pip-clear-errors>
                    <span md-highlight-text="$ctrl.config.selected.searchURLs">{{ item }}</span>
                </md-autocomplete>
            </div>

            <md-input-container class="pip-no-hint" style="padding-bottom: 4px!important;">
                <label>{{::'OLD_PASSWORD' | translate}}</label>
                <input 
                    name="password" ng-disabled="$ctrl.transaction.busy()" 
                    xxxpip-clear-errors
                    type="password" tabindex="4" ng-model="$ctrl.config.data.password"
                    required minlength="6" ng-change="$ctrl.onChangePassword()"
                    pip-compare-old-password compare-to="$ctrl.config.data.passwordNew"/>

                <div class="hint" ng-if="$ctrl.touchedErrorsWithHint($ctrl.config.form, $ctrl.config.form.password, true).hint && !$ctrl.hideObject.hint">
                    {{::'HINT_PASSWORD' | translate}}
                </div>
                <div ng-messages="$ctrl.touchedErrorsWithHint($ctrl.config.form, $ctrl.config.form.password, true)"
                     class="md-input-error"  md-auto-hide="false">
                    <div ng-message="required">{{::'MINLENGTH_PASSWORD' | translate}}</div>
                    <div ng-message="minlength">{{::'MINLENGTH_PASSWORD' | translate}}</div>
                    <div ng-message="ERROR_WRONG_PASSWORD">{{::'ERROR_WRONG_PASSWORD' | translate}}</div>
                    <div ng-message="ERROR_compareTo"> {{::'PASSWORD_IDENTICAL' | translate}} </div>
                </div>
            </md-input-container>

            <md-input-container class="display bp4">
                <label>{{::'NEW_PASSWORD_SET' | translate}}</label>
                <input name="passwordNew" ng-disabled="$ctrl.transaction.busy()" 
                    xxxpip-clear-errors 
                    type="password" tabindex="4" 
                    ng-model="$ctrl.config.data.passwordNew" ng-change="$ctrl.onChangePasswordNew()"
                    required minlength="6" ng-keypress="$ctrl.onEnter($event)" pip-test="input-password" autocomplete="off"
                    pip-compare-new-password  compare-to1="$ctrl.config.data.password"/>

                <div class="hint" ng-if="$ctrl.touchedErrorsWithHint($ctrl.config.form, $ctrl.config.form.passwordNew, true).hint && !$ctrl.hideObject.hint">
                    {{::'HINT_PASSWORD' | translate}}
                </div>
                <div ng-messages="$ctrl.touchedErrorsWithHint($ctrl.config.form, $ctrl.config.form.passwordNew, true)" md-auto-hide="false">
                    <div ng-message="required"> {{::'HINT_PASSWORD' | translate}} </div>
                    <div ng-message="minlength"> {{::'HINT_PASSWORD' | translate}} </div>
                    <div ng-message="ERROR_compareTo"> {{::'PASSWORD_IDENTICAL' | translate}} </div>
                    <div ng-message="ERROR_WRONG_PASSWORD" xxxng-if="!$ctrl.config.form.passwordNew.$pristine"> {{::'ERROR_WRONG_PASSWORD' | translate}} </div>
                </div>
            </md-input-container>

            <md-input-container class="display bp4" ng-if="!$ctrl.hideObject.passwordConfirm">
                <label>{{::'NEW_PASSWORD_CONFIRM' | translate}}</label>
                <input name="passwordConfirm" type="password" tabindex="4" required minlength="6" 
                    ng-model="$ctrl.confirmPassword" ng-disabled="$ctrl.transaction.busy()"
                    xxpip-clear-errors ng-change="$ctrl.onChangePasswordConfirm()"
                    pip-compare-password-match compare-to2="$ctrl.config.data.passwordNew" 
                    ng-keypress="$ctrl.onEnter($event)" pip-test="input-password"/>

                <div class="hint" ng-if="$ctrl.touchedErrorsWithHint($ctrl.config.form, $ctrl.config.form.passwordConfirm, true).hint && !$ctrl.hideObject.hint">
                    {{::'HINT_PASSWORD' | translate}}
                </div>
                <div ng-messages="$ctrl.touchedErrorsWithHint($ctrl.config.form, $ctrl.config.form.passwordConfirm, true)" md-auto-hide="false">
                    <div ng-message="required"> {{::'HINT_PASSWORD' | translate}} </div>
                    <div ng-message="minlength"> {{::'HINT_PASSWORD' | translate}} </div>
                    <div ng-message="ERROR_compareTo"> {{::'PASSWORD_MATCH' | translate}} </div>
                </div>
            </md-input-container>
        </form>
    </div>
</div>