<div class="pip-card-container pip-outer-scroll pip-entry">
    <pip-card width="400">
        <pip-recover-password-panel class="scroll-y">
        </pip-recover-password-panel>
        <div class="pip-footer">
            <md-button ng-hide="$ctrl.transaction.busy()" ng-click="$ctrl.goBack()" class="rm8" aria-label="CANCEL">
                {{ ::'CANCEL' | translate }}
            </md-button>

            <md-button ng-hide="$ctrl.transaction.busy()" class="md-accent" ng-click="$ctrl.onRecover()"
                       aria-label="RECOVER_PWD_RECOVER" type="submit"
                       ng-disabled="($ctrl.config.form.$pristine && !$ctrl.config.data.login) || $ctrl.config.data.serverUrl.length == 0 || $ctrl.config.data.login.length == 0">
                {{ ::'RECOVER_PWD_RECOVER' | translate }}
            </md-button>

            <md-button ng-show="$ctrl.transaction.busy()" class="md-warn" ng-click="$ctrl.transaction.abort()" aria-label="ABORT">
                {{ ::'CANCEL' | translate }}
            </md-button>
        </div>
    </pip-card>
</div>