<div class="pip-body">
    <div class="pip-content">
        <md-progress-linear ng-show="$ctrl.transaction.busy() && !$ctrl.hideObject.progress" md-mode="indeterminate" class="pip-progress-top">
        </md-progress-linear>

        <h2 ng-if="!$ctrl.hideObject.title">{{ 'RECOVER_PWD_TITLE' | translate }}</h2>

        <p class="text-primary tm0 bm16" ng-if="!$ctrl.hideObject.subTitle1 && !$ctrl.config.useEmailAsLogin">{{ 'RECOVER_PWD_TEXT_1_LOGIN' | translate }} </p>
        <p class="text-primary tm0 bm16" ng-if="!$ctrl.hideObject.subTitle1 && $ctrl.config.useEmailAsLogin">{{ 'RECOVER_PWD_TEXT_1_EMAIL' | translate }} </p>

        <p class="text-primary tm0 bm16" ng-if="!$ctrl.hideObject.subTitle2">{{ 'RECOVER_PWD_TEXT_2' | translate }}</p>

        <form name="form" novalidate autocomplete="off">
            
            <div ng-messages="$ctrl.config.form.$serverError" class="text-error bm8 color-error"  md-auto-hide="false">
                <div ng-message="ERROR_act_execute">{{::'ERROR_ACT_EXECUTE' | translate}}</div>
                <div ng-message="ERROR_-1">{{::'ERROR_SERVER' | translate}}</div>
                <div ng-message="ERROR_UNKNOWN">
                    {{ $ctrl.config.form.$serverError.ERROR_UNKNOWN | translate }}
                </div>
            </div>

            <div class="bp16" >
                <a  ng-hide="$ctrl.config.showServerUrl || $ctrl.config.fixedServerUrl || $ctrl.hideObject.server" 
                    ng-click="$ctrl.config.showServerUrl = true" href="">
                    {{ ::'ENTRY_CHANGE_SERVER' | translate }}
                </a>
            </div>

            <div ng-show="$ctrl.config.showServerUrl && !$ctrl.hideObject.server" class="bp8">
                <md-autocomplete
                        ng-initial autofocus tabindex="1"
                        class="pip-combobox w-stretch bm8"
                        name="server" aria-label="URL"
                        ng-enabled="!$ctrl.transaction.busy()"
                        placeholder="{{::'ENTRY_SERVER_URL' | translate}}"
                        md-no-cache="true"
                        md-selected-item="$ctrl.config.data.serverUrl"
                        md-search-text="$ctrl.config.selected.searchURLs"
                        md-items="item in $ctrl.config.getMatches($ctrl.config.selected.searchURLs)"
                        md-item-text="item"
                        md-selected-item-change="$ctrl.onServerUrlChanged()"
                        md-search-text-change="$ctrl.onChanged()"
                        md-delay="200"
                        ng-model="$ctrl.config.data.serverUrl"
                        pip-clear-errors>
                    <span md-highlight-text="$ctrl.config.selected.searchURLs">{{ item }}</span>
                </md-autocomplete>
            </div>
            <md-input-container class="pip-no-hint" style="padding-bottom: 4px!important;">
                <label ng-if="!$ctrl.config.useEmailAsLogin">{{::'LOGIN' | translate}}</label>
                <label ng-if="$ctrl.config.useEmailAsLogin">{{::'EMAIL' | translate}}</label>
                <input name="login" type="text" aria-label="LOGIN"
                       ng-model="$ctrl.config.data.login"
                       required step="any" pip-clear-errors
                       ng-disabled="$ctrl.transaction.busy()" tabindex="2"/>


                <div class="hint" ng-if="$ctrl.touchedErrorsWithHint($ctrl.config.form, $ctrl.config.form.login).hint && !$ctrl.hideObject.hint && !$ctrl.config.useEmailAsLogin">
                    {{::'HINT_LOGIN' | translate}}
                </div>
                <div class="hint" ng-if="$ctrl.touchedErrorsWithHint($ctrl.config.form, $ctrl.config.form.login).hint && !$ctrl.hideObject.hint && $ctrl.config.useEmailAsLogin">
                    {{::'HINT_EMAIL' | translate}}
                </div>
                <div ng-messages="$ctrl.touchedErrorsWithHint($ctrl.config.form, $ctrl.config.form.login)"
                     class="md-input-error"  md-auto-hide="false">
                    <div ng-message="required">{{::'ERROR_LOGIN_INVALID' | translate }}</div>
                    <div ng-message="ERROR_WRONG_LOGIN">{{::'ERROR_WRONG_LOGIN' | translate}}</div>
                    <div ng-message="ERROR_NO_LOGIN">{{::'ERROR_NO_LOGIN' | translate}}</div>
                    <div ng-message="ERROR_LOGIN_NOT_FOUND">{{::'ERROR_LOGIN_NOT_FOUND' | translate}}</div>
                </div>
            </md-input-container>
        </form>

    </div>
</div>